<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
</head>

<body>
    <!-- Navegación -->
    <nav class="navbar">
        <div class="logo">
            <a href="principal.html">
                <img src="/assets/logoyv.png" alt="Logo" class="logo-img">
            </a>
        </div>

        <ul class="nav-links">
            <li><a href="principal.html">Inicio</a></li>
            <li><a href="mi_trabajo.html">Portafolio</a></li>
            <li><a href="contactame.html">Contacto</a></li>
        </ul>
    </nav>
</body>

</html>